.nav-link-hidden{
    display: none;
    margin-top: 2px;
    margin-left:-400px;
    padding: 5px 20px;
    background:#DCDCDC;
    color: #333;
    height: auto;
    transition: .2s linear, color .2s linear;
}


.nav-link:hover .nav-link-hidden{
    display: block;
    position: absolute;
    width: 500px;

}

.inputcart{
    width: 80px;
}

.titlecart{
    position: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    padding: 5px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 700px;
}

.text-cart{
    font-size: 9px;
    font-weight: 500px;
    text-align: center;
    padding: 8px 0;
}

.btncart{
    display: inline-block;
    text-align: center;
    /* padding: 4px 0; */
    border: 2px solid #333;
    position: relative;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;

    transition: .2s linear, color .2s linear;
}

.showcart{
    font-size: 12px;
    padding: 0 12px;
}

/* .name-item-cart{
    margin-left: 200px;
} */


.item-count{
    width: 35px;
    height: 30px;
}

.plus-item, .delete-item, .subtract-item{
    transition: .5s linear;
    text-align: center;
}

/* .add-to-cart{
    display: inline-block;
    text-align: center;
    padding: 14px 20px;
    border: 2px solid #333;
    position: relative;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;

    margin-top: 25px;
}

.add-to-cart:hover{
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: background 12s linear;
} */

.add-to-cart {
    display: inline-block;
    vertical-align: top;
    padding: 8px 20px;
    
    border: 2px solid #333;

    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    
    transition: .2s linear, color .2s linear;
}

.add-to-cart:hover{
    background-color: #f38181;
    color: #333;
}

.add-to-cart {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #95a917 0%, #5dc507 51%, #bf8916 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
  }
  .add-to-cart:hover {
    background-position: right center;
  }









